*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Gamja Flower', cursive;
    background-color: #fffff2;
}

header{
    background-color: #e4572e;
    text-align: center;
}

header h1{
    font-family: 'Chelsea Market', cursive;
    text-shadow: 2px 2px #fffff2;
}

header h2{
    color: #ffffff;
    padding-top: 7px;
    font-size: 16px;
}

article{
    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 #e4572e; 
    display: flex;
    width: 800px;
    margin: 10px auto;
    padding: 3px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin-top: 10px;
}

form{
    display: flex;
    justify-items: space-between;
    margin-top: 5px;
}

.footer-form-name{
    box-shadow: 2px 2px 0 0 #e4572e;
    margin-left: 10px;
}

.footer-form-email{
    box-shadow: 2px 2px 0 0 #e4572e;
    margin-left: 10px;
}

.footer-form-button{
    box-shadow: 2px 2px 0 0 #e4572e;
    margin-left: 10px;
}

.copyright{
    margin-top: 5px;
}